.Rproj.user
.Rhistory
.RData
inst/doc
.DS_Store
projectR.Rproj.Rcheck/
projectR.Rproj
vignettes/projectR.log
man/.Rapp.history
.git/
vignettes/.Rhistory
vignettes/projectR_files/
vignettes/projectR.R
test.R