language: r

r: bioc-devel
warnings_are_errors: false
sudo: false
#cache: packages #for dependencies 

r_packages:
 - covr #codecov shows how many lines in package are tested

r_build_args: "--no-manual --no-resave-data"
r_check_args: "--no-build-vignettes --no-manual --timings"

after_success:
 - Rscript -e 'library(covr); codecov()'

notifications:
 email:
   on_success: change
   on_failure: change

env:
 global:
   - _R_CHECK_TIMINGS_="0"